/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration-line: none;
}

h1 {
    font-size: 80px;
    font-weight: bold;
}

h3 {
    color: black;
    font-size: 40px;
    margin-bottom: 30px;
}

p {
    color: black
    font-size: 25px;
    margin-bottom: 30px;
}

img {
    max-width: 100%;
}
/* #endregion common */

/* #region utilities*/
:root {
    --bg-footer: #23272A;
    --bg-blue-discord: #255EE9;
    --bg-blue-discord-light: #7289DA;
    --bg-grey: #D3D3D3;
}

.container_100 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container_80 {
    width: 80%;
    margin: auto;
}

.container_60 {
    width: 70%;
    margin: auto;
}

.row {
    display: flex;
}

/* #endregion utilities*/

/* #region col- */

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

/* #endregion col- */

/* #region button */
.button_login {
    background-color: white;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
}

.button_login:hover {
    color: var(--bg-blue-discord);
    box-shadow: 5px 5px 80px blue;
}

#button_download,
#button_open,
#button_download_mac{
    border-radius: 30px;
    border: none;
    margin: 30px 15px;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 30px;
    
}

#button_download>a:hover,
#button_open>a:hover {
    color: var(--bg-blue-discord);
}

#button_download {
    background-color: white;
}

#button_download_mac {
    background-color: var(--bg-blue-discord-light);
}
#button_open {
    background-color: var(--bg-footer);
}

#button_download_mac>a{
    color: white;
    
}

#button_download>a {
    color: black;
}

#button_open>a {
    color: white;
}

#sign_button{
    position: absolute;
    right: 0;
    top: 50%;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color: var(--bg-blue-discord);
    color: white;
    border:none;
}

#sign_button:hover{
    background-color: var(--bg-blue-discord-light);
}
/* #endregion button */

/* #region header */
.header {
    background-color: var(--bg-blue-discord);
}

.row.nav {
    height: 40px;
    line-height: 40px;
}

.col-2.logo {
    text-align: left;
    padding-left: 10px;
}

#logo_top {
    vertical-align: middle;
}

.row.menu {
    margin: auto;
    justify-content: space-between;
    border: none;
    width: 80%;
}

.row.menu a {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.row.menu a:hover {
    text-decoration: underline;
}

.col-2.login {
    text-align: right;
    padding-right: 10px;
}

/* #endregion header */

/* #region main - banner */
.banner {
    height: 600px;
    padding-top: 50px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.text_banner {
    height: 400px;
    width: 50%;
    text-align: center;
    color: white;
}
/* #endregion main - banner */

/* #region main - invito, facile, fandom, chiusura */
.invito,
.facile,
.fandom {
    padding-top: 50px;
    padding-bottom: 50px;
}

.col-8.column_max {
    background-size: cover;
}

.col-4.column_min {
    padding: 30px 15px;
}

.facile {
    background-color: var(--bg-grey);
}

.chiusura {
    background-color: var(--bg-grey);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.chiusura_main {
    width: 70%;
}

.star{
    background-image: url(../img/stars.svg);
    background-size: contain;
    height: 80px;
}
/* #endregion main - invito, facile, fandom, chiusura */

/* #region footer */

.footer_top {
    background-color: var(--bg-footer);
}

.row.footer_top {
    background-color: var(--bg-footer);
    padding-top: 5px;
    padding-bottom: 30px;
}

.col-3.social {
    padding-left: 20px;
    padding-top: 20px;
    color: var(--bg-blue-discord);
}

.language{
    background-color:transparent;
    border: none;
    color: white;
    margin-top: 15px;
}

.social_icons{
  color: white;
  margin-top: 15px;
}

.col-9.menu {
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding-top: 20px;
}

.col-4.prodotto,
.col-4.compagnia,
.col-4.risorse,
.col-4.norme {
    color: var(--bg-blue-discord);
    font-weight: bold;
    font-size: 20px;
}

.col-9.menu a{
    color: white;
    font-weight: lighter;
    font-size: 15px;
}

.col-9.menu a:hover{
    text-decoration: underline;
}

.container_100.footer_bottom {
    background-color: var(--bg-footer);
    margin-bottom: -20px;
}

.container_80.footer_bottom {
    height: 80px;
    margin-bottom: -20px;
    position: relative;
    border-top: 1px solid var(--bg-blue-discord);
}

.logo_bottom {
    position: absolute;
    left: 0;
    top: 50%;
}
/* #endregion footer */